body {
  margin: 0px;
  padding: 0px;
  background-color: #cccccc;
  height: 100%;
}

ul {
  background-color: #444;
  text-align: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
li {
  font-size: 24px;
  line-height: 40px;
  height: 40px;
  padding: 20px;
  display: inline-block;
}
a {
  text-decoration: none;
  text-decoration-color: #ffffff;
  color: rgb(255, 255, 255);
}
h1 {
  font-size: 28px;
}
.italic {
  font-style: italic;
}
.paragraph {
  font-size: 24px;
}
section {
  margin-left: 20px;
}

footer {
  background-color: #444;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.copyright {
  color: #fff;
  text-align: center;
}
